body{
  height:100%;
  width: 100%;
  font-family:forte;
  background-image: url(images/style.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*logout*/
.bod{
  height:100%;
  width: 100%;
  font-family:forte;
  background-image: url(images/bbw.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*end*/


h1{
  text-align: center;
  font-size: 60px;
  text-shadow: 1px 2px 1px #ff9900;
  font-family:forte;
  margin-top:65px;

}

h2{
  margin-top:100px;
  text-align: center;
  font-size: 100px;
  color:#fff;
  text-shadow: 5px 5px 5px #000;
}

h1::after{
 width:180px;
  height:3px;
   background-color: #ff9900;
     display: block;
    content:" ";
  margin:0 auto;
 visibility: visible;
 margin-bottom:20px;
margin-top:30px;
}


.col-md-4, .col-md-6{
  box-shadow: 1px 1px 1px 2px #000;
  padding: 70px;
  margin: 30px;
  background-size: cover;
  border-radius: 3%;
  background:transparent;
}

.col-sm-6{
  text-align: center;
  margin-top: 20px;
}

h3 {
  text-align: center;
  font-weight: bold;
}

p{
  font-size: 23px;
  font-family:Lucida Fax;
  color:#000;
  margin:30px;
  text-align:center;
  text-shadow: 1px 1px 1px #b36b00;
}
.btn{
  background:#ff9900;
  font-family:'Nunito';
  text-shadow: 1px 1px 1px #000;
}

.btn:hover{
  background: #fff;
  border:1px solid  #e68a00;
  color:#e68a00;
  text-shadow: 1px 1px 1px #000;
  transition: 0.3s all ease-out;
  transform: scale(1.01);
  z-index: 999;
}

/*HomePage*/
.button button{
   margin:20px;
   padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
  text-align: center;

}
 .button button:hover{
  background-color: gold;
  color:#000;
}

.button button:active{
  background-color: green;
  color:#fff;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
}
/*Home ends*/


.footer{
  font-size: 16px;
font-family:forte;
text-align: center;
}
